
page-select-password{
  // [grey-background] {
  //   background: $black;
  // }

  // ion-header{
  //       .toolbar-background{
  //           background: transparent;
  //       }
  //   }
   
.selectpwd {
  /*padding: 135px 0;*/
  background: transparent;
  box-shadow: none;
  width: 100%;
  overflow: initial;
  @include zeroMargin(0);
  @include zeroPadding(0 1.313rem);
  .rezility-logo{
    width: 23.8%;
    @include zeroMargin(0 auto);
  }
  ion-card-header {
    @include typography(1.875rem, $white, 700, 2rem);
    @include zeroPadding(0 0 1.5rem 0);
    text-overflow: inherit;
    white-space: normal;
    @include zeroMargin(4.938rem 0 0 0);
    letter-spacing: -.02rem;
  }
  .divider{
    width: 3.75rem;
    height: .25rem;
    background: $grey2;
    display: block;
    @include zeroMargin(0 auto 0);
  }
  ion-card-content { 
    @include typography(.938rem, $white, 400, 1.25rem);
    @include zeroPadding(1.25rem 0);
    white-space: normal;
  }
  ion-item {
    @include border-radius(.313rem);
    background: $white;
    margin-bottom: .625rem;
    .item-inner {
      @include border(0);
      box-shadow: none !important;
      ion-input {
        height: 2.813rem;
        line-height: 1.25rem;
      }
    }
  }
}

[select-pwd-button] {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.bottom-align {
  position: absolute;
  bottom: 0;
}


[mail-id] {
  margin: 100px 0 0 0;
}

 ion-toolbar.select-btm-btn {
    @include zeroPadding(0);
    overflow: initial;
    min-height: 162px;
    .toolbar-background {
      @extend %toolbar-transparent;
    }
    ion-button[ion-button] {
      margin-bottom: .5rem;
      box-shadow: none;
    }
    ion-button[ion-button]:last-child {
      margin-bottom: 2rem;
    }
    p{
      text-align: center;
      @include zeroMargin(2rem 0);
      @include typography(.938rem, $white, 300, null);
    }
    ion-buttons{
        display: inline-block;
        [text-outline-btn]{
            @include zeroMargin(0);
            @include zeroPadding(0);
            height: auto;
            text-transform: uppercase;
            vertical-align: baseline;
            @include typography(.938rem, $white, 400, null);
        }
    }
  }

// [footer] {
//   padding: 0 1.25rem;
 
  
  
  


  
  
// }

// .footer-md::before {
//   background-image: transparent;
//   height: 0;
// }
}