<ion-header labelHeader *ngIf="isEmailExist=== true">
    <ion-navbar>
        <ion-title>{{'LOGIN.SIGN_IN' | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content grey-background class="log-in" [ngClass]="{'dark-grey-background': isEmailExist=== true}">
    <div class="wrapper">
        <ion-list>
            <p class="login-logo" *ngIf="isEmailExist=== false"><img src="./assets/img/rezility.png" alt=""/></p>
            <h2 *ngIf="isEmailExist=== true">
                {{'LOGIN.ACCOUNT_EXIST' | translate }}
                <span></span>
            </h2>
            <form [formGroup]="loginForm" novalidate>
                <ion-item>
                    <ion-input formControlName="username" class="input14px-black" [(ngModel)]="user.email" name="email" type="email" novalidate placeholder="{{'LOGIN.EMAIL_ADDRESS' | translate}}" ngControl="email"></ion-input>
                </ion-item>
                <div class="pwd-field">
                    <ion-item>
                        <ion-input formControlName="password" *ngIf="!showPasswordIsChecked" class="input14px-black" [(ngModel)]="user.password" name="password" ngControl="password" type="password" placeholder="{{'LOGIN.PASSWORD' | translate }}"></ion-input>
                        <ion-input formControlName="password" *ngIf="showPasswordIsChecked" class="input14px-black" [(ngModel)]="user.password" name="password" ngControl="password" type="text" placeholder="{{'LOGIN.PASSWORD' | translate }}"></ion-input>
                    </ion-item>
                    <ion-icon (click)="showPassword()" class="icons-preview" item-right></ion-icon>
                </div>
                <ion-label class="error-msg" *ngIf="submitted">{{invalidLoginError}}</ion-label>
                <p><span class="button-blue-link" (click)="onRequestLoginLink()">{{'LOGIN.FORGOT_PASSWORD_BTN' | translate}} </span></p>
                <div>
                    <button ion-button block round class="button-light-blue" (click)="onLogin(user)">{{'LOGIN.LOGIN_BTN' | translate}} </button>
                    <button ion-button block round class="button-contrast-blue" (click)="onFLogin()">{{'LOGIN.LOGIN_WITH_FB_BTN' | translate}} </button>
                </div>
            </form>
        </ion-list>
        <ion-card toolbar-bg *ngIf="isEmailExist=== false">
            <p (click)="navigateToSignupLandingPage()">{{'LOGIN.CREATE_ACC' | translate}}</p>
        </ion-card>
    </div>
</ion-content>
<ion-nav *ngIf=isLoggedUser [root]="OwnerHubPage" #content swipeBackEnabled="true"></ion-nav>