<ion-header labelHeader>
    <ion-navbar class="status-pending">
        <ion-title>{{'AROUND_ME.HOUSING_UNIT.TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content silvergrey-background>
    <ion-list>
         <button ion-item detail-none class="list-grid-136">
            <h2>
                <span class="text14px-black">{{buildingName}}</span>
            </h2>
        </button>
    </ion-list>
    <ion-list class="unit-input">
        <ion-item class="shadow-box">
            <ion-searchbar (ionInput)="autoCompleteUnitSearch()" autocomplete="on"
              [(ngModel)]="unit" placeholder="{{'AROUND_ME.HOUSING_UNIT.Unit' | translate}}"></ion-searchbar>
        </ion-item>
        <ion-list class="places-list" *ngIf="units && units.length > 0">
            <button ion-item detail-none class="list-grid-120" *ngFor="let unit of units" (tap)="onUnitSelect(unit)">
                <h2 class="text14px-black">{{ unit }}</h2>
            </button>
        </ion-list>

    </ion-list>
    <p class="text12px-normal-grey unit-text">
        {{'AROUND_ME.HOUSING_UNIT.MSG' | translate}}
    </p>    
</ion-content>
<ion-footer footer-full>
    <ion-toolbar>
        <ion-button ion-button block class="button-square-blue" (click)="verifyHomeAddress()">{{'AROUND_ME.HOUSING_UNIT.VERIFY-BTN' | translate}}</ion-button>
    </ion-toolbar>
</ion-footer>