select-image{
    [col-6]{
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    [col-6].images{
        img{
            height: calc(45.313vw / 1.85);
        }
    }
    [col-6].logos{
        img{
            height: calc(45.313vw / 1);
        }
    }
}