change-password {
	ion-header[labelHeader]{
		ion-navbar{
			.icons-correct{
				font-size: 1.188rem;
				color: $greenShade1;
			}
		}
	}
	.list-grid-136.item{
		ion-label[floating]{
			-webkit-transform: translate3d(0, 15px, 0);
			transform: translate3d(0, 15px, 0);
			color: $grey2;
		}
		input.text-input{
			@include typography(0.875rem, $grey1, 400, null);
			margin-bottom: 0;
			&:-webkit-autofill{
				background-color: transparent;
			}
		}
	}
	.list-grid-136.item.item-input-has-focus,
	.list-grid-136.item.item-input-has-value{
		ion-label.label[floating]{
			transform: translate3d(0, 10px, 0) scale(1) !important;
			@extend .text14px-black;
		}
	}

	.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child{
		border: none;
		box-shadow: none;
	}
	
	// [list-items]{

	// 	.input-has-focus,
	// 	.input-has-focus{
	// 		&:last-child{
	// 			box-shadow: none !important;
	// 			border-bottom-color: transparent !important;	
	// 		}
	// 	}
	// }
}
