<ion-header labelHeader>
    <ion-navbar>
        <ion-title>
            {{'SIGN_UP.CREATE_PASSWORD.TITLE' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content changeWeak-password [ngClass]="{'changeWeak-password':passwordstrength=='weak', 'changeStrong-password':passwordstrength=='strong'}">
    <!-- [KeyboardGetstarted] -->
    <ion-card change-pwd>
        <ion-card-content>
            <ion-card-title *ngIf="passwordstrength !=='strong' ">
                {{'SIGN_UP.CREATE_PASSWORD.PASSWORD_STRENGTH_LEVEL1' | translate}}
                <p *ngIf="passwordstrength !=='strong' ">{{'SIGN_UP.CREATE_PASSWORD.PASSWORD_STRENGTH_LEVEL2' | translate}} </p>
            </ion-card-title>

            <ion-card-title *ngIf="passwordstrength ==='strong' ">
                {{'SIGN_UP.CREATE_PASSWORD.PASSWORD_STRENGTH_LEVEL3' | translate}}
                <p *ngIf="passwordstrength ==='strong' ">{{'SIGN_UP.CREATE_PASSWORD.PASSWORD_STRENGTH_LEVEL4' | translate}} </p>
            </ion-card-title>
            <div class="relative">
                <ion-list class="pwd-field">
                    <ion-item>
                        <ion-input *ngIf="!isPasswordType" text-align-center [ngClass]="{'input-cover':isPasswordType === false}" [(ngModel)]="signUpModel.password" (keyup)="analyzePasswordStrength(signUpModel.password)" type="password" maxlength=100></ion-input>
                        <ion-input *ngIf="isPasswordType" text-align-center [ngClass]="{'input-cover':isPasswordType === false}" [(ngModel)]="signUpModel.password" (keyup)="analyzePasswordStrength(signUpModel.password)" type="text" maxlength=100></ion-input>
                    </ion-item>
                </ion-list>
                <ion-icon class="icons-preview" (click)="onShowPassword()"></ion-icon>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer [keyboardAttach]="content" footer-full>
    <ion-toolbar>
        <div>
            <button ion-button block class="button-square-blue" [ngClass]="{'button-disable': passwordstrength !=='strong'}" (click)="onLoginToRezility()">{{'SIGN_UP.CREATE_PASSWORD.LOGIN_INTO_BEHOME' | translate}} </button>
        </div>
    </ion-toolbar>
</ion-footer>