page-choose-password {
    [changeWeak-password] {
        // background: $redOrange;
        background: $skyBlueShade5;
    }
    [changeWeak-password].changeStrong-password {
        // background: $green;
        background: $greenShade1;
    }
    /* [changeWeak-password].strong-password {
			background: green;
		}*/
    .back-button-icon,
    button.back-button {
        @include zeroPadding(0);
        @include zeroMargin(0);
    }
    ion-content {
        .scroll-content {
            padding-bottom: 0 !important;
        }
        ion-card[change-pwd] {
            background: transparent;
            box-shadow: none;
            @include zeroMargin(4.9375rem 0 2.813rem 0);
            @include zeroPadding(0 0 1rem 0);
            text-align: $center;
            width: 100%;
            .pwd-field {
                position: relative;
                -webkit-box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, .2);
                -moz-box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, .2);
                box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, .2);
                @include border-radius(0.5rem);
                ion-item {
                    min-height: 3.25rem;
                    background: transparent;
                    //@include zeroPadding(0);
                    &:last-child {
                        @include border(none);
                    }
                    .item-inner {
                        //@include zeroPadding(0); 
                        ion-input {
                            @include border-radius(.5rem);
                            background: $white;
                            height: 3.25rem;
                            display: block;
                            text-align: left;
                            @include zeroPadding(0);
                            .text-input {
                                font-size: 1.125rem;
                                @include zeroMargin(0);
                                line-height: inherit;
                                text-align: left;
                                width: calc(100% - 3.75rem);
                                @include zeroPadding(.938rem 0 .938rem 1.25rem);
                                @include border-radius(.5rem);
                            }
                            input[type="text"] {
                                @include typography(.875rem, $charcoalBlack, 700, null);
                                @include zeroPadding(1.063rem 0 1.063rem 1.25rem);
                            }
                        }
                    }
                }
            }
            ion-card-content {
                padding: 0 1rem;
            }
            ion-card-title {
                @include typography(1.625rem, $white, 700, null);
                @include zeroPadding(0);
                @include zeroMargin(0);
            }
            p {
                @include typography(.938rem, $white, 400, null);
                line-height: 1.25rem;
                @include zeroMargin(.938rem 0 3.312rem 0);
            }
            .icons-preview {
                position: absolute;
                right: 0;
                top: 0;
                color: #b0b0b0;
                line-height: 1rem;
                font-size: 1.375rem;
                @include zeroPadding(.938rem 1.25rem);
            }
        }
        .input-cover {
            position: static;
        }
    }
    /* [footer-full]{ 
		position: fixed;
		bottom: 0;
	}*/
    [footer-full] .toolbar-background {
        background: $silverShade6;
    }
    // [footer-full] ion-toolbar {
    // 	min-height: 2.75rem;
    // }
}