/*Color Codes as per brand guidelines*/
$black: #282828;
$grey6: #333333;
$charcoalBlack: #454545;
$grey2: #767777;
$silverShade6: #ccc;
$silverShade8: #b0b0b0;
$silverShade9: #f5f5f6;
$white: #fff;
$lightYellow: #faa742; 
$sunsetOrange: #f15d3e;
$redShade2: #c32929;
$wineShade3: #AF2B76;
$wineShade2: #804777;
$darkBlue: #203566;
$skyBlueShade5: #0093c8;
$skyBlueShade7: #429BC5;
$skyBlueShade6: #5AC3B4;
$greenShade1: #418731;
$yellowShade1: #Aecc5b;
$yellowShade2: #eae553;
$facebook: #4867AA;
/* Extra added color excluding brand-guidelines */
$skyBlueShade2: #3b5998;
$grey1: #8F8F8F;
$wine: #B22859;

$darkBlack: #000;
$silverShade3: #EBEBEE;

/* Use for Coach mark center text */
$redShade1: #ea1111;
//$redShade2: #cf2726;
/* Feed Alert */
$silverShade4: #FAFAFB;

/* Profile & Poll background */
$silverShade1: #D5D5DB;
$skyBlueShade1: #e2f0fc;


/* Font-Weight */
$fontWeight100: 100;
$fontWeight300: 300;
$fontWeight500: 500;
$fontWeight400: 400;
$fontWeight700: 700;
$fontWeight900: 900;
$baseFontSize: 8px;
$baseFontSize09:9px;
$baseFontSize10: 10px;
$baseFontSize11: 11px;
$baseFontSize12: 12px;
$baseFontSize14: 14px;
$baseFontSize15: 15px;

/* Baseline Grid */

$baseLineGridH: .5rem;
$baseFontWeight: 100;